<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>963817688662-putk2eoeb0k4q6ibd48h4qj6eoqvaajn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.963817688662-putk2eoeb0k4q6ibd48h4qj6eoqvaajn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>963817688662-od8f8gsa0lfc6bpo9ld9vb8ab61pp0ro.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDK-W4mReH4QLxYb8R1bVYbwDQ_ItBQCK4</string>
	<key>GCM_SENDER_ID</key>
	<string>963817688662</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.webdroidit.nepmeet</string>
	<key>PROJECT_ID</key>
	<string>nepmeet-1580718388031</string>
	<key>STORAGE_BUCKET</key>
	<string>nepmeet-1580718388031.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:963817688662:ios:6e85ca72d39908577135f7</string>
	<key>DATABASE_URL</key>
	<string>https://nepmeet-1580718388031.firebaseio.com</string>
</dict>
</plist>